
[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.svc
DNS.4 = {{ dns_name }}
DNS.5 = {{ elb_url }}
IP.1 = {{ vpc_cidr_block|ipaddr('net')|ipaddr(1)|ipaddr('address') }}